body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
 position: absolute;
 top: 10px;
}
.game-container {
    position: relative;
    width: 300px;
    height: 500px;
    border: 5px solid black;
    overflow: hidden;
}
.button{
    position: absolute;
    top: 14%
}
.falling-key {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(145, 255, 0);
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}


.score, .timer {
    position: absolute;
    top: 8%;
    color: black;
}

#information {
    display: none;
    position: absolute;
    top: 17%;
    padding: 5px;
    background-color: red;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    text-shadow: 1px 1px 2px black;
}
.timer {
    position: absolute;
    top: 10%;
}
